/* declare variables */
:root {
  --primary-color: #1a1a1a;
  --secondary-color: #333;
  --error-color: #fb4040;
  --text-color: #000;
  --background-color: white;
  --font-size: 14px;
  --border-radius: 4px;
  --padding: 10px 15px;
  --margin: 10px 0;
  --font-weight: 500;
}

input {
  display: block;
  box-sizing: border-box !important;
  width: 100% !important;
  border-radius: var(--border-radius) !important;
  border: 1px solid var(--background-color) !important;
  padding: var(--padding) !important;
  margin: var(--margin) !important;
  font-size: var(--font-size) !important;
  border: solid 1px var(--primary-color) !important;
}

label {
  line-height: 2;
  text-align: left;
  display: block;
  margin: var(--margin);
  color: var(--text-color);
  font-size: 0.9rem;
  font-weight: var(--font-weight);
}

input[type="submit"] {
  background-color: var(--primary-color);
  color: var(--background-color);
  border: none;
  padding: var(--padding);
  font-size: var(--font-size);
  cursor: pointer;
  transition: background-color 0.25s, transform 0.25s;
  border-radius: var(--border-radius);
}

input[type="submit"]:hover {
  background-color: var(--secondary-color);
  transform: scale(1.01);
}

input[type="submit"]:active {
  background-color: var(--text-color);
  transform: scale(1.01);
}

input.error {
  border: 1px solid var(--error-color)!important;
}

.form-error {
  color: var(--error-color);
  text-align: left;
  font-weight: 400;
  font-size: 0.8rem;
}

.inner-form-title {
  color: var(--primary-color);
  font-size: 1.1rem;
  text-transform: capitalize;
  font-weight: 700;
  text-align: left;
}
